*.o
*.d
*.so
*.out
*.log
.*.swp
*.tmp
TODO
todo
tags
TAGS
autom4te.cache
config.status
ssd1306_config.h
_ssd1306_config.h*
Makefile
.deps
*~
stamp-h1
*.la
.libs
*.lo
configure
aclocal.m4
libtool
Makefile.in
compile
config.guess
config.sub
depcomp
install-sh
missing
ltmain.sh
test-driver
*.trs
