*.o
*.d
*.so
*.out
*.log
.*.swp
*.tmp
TODO
todo
test_ssd1306_i2c
tags
TAGS
autom4te.cache
config.status
ssd1306_i2c_config.h
Makefile
.deps
*~
stamp-h1
*.la
.libs
*.lo
configure
aclocal.m4
libtool
m4
Makefile.in
compile
config.guess
config.sub
depcomp
install-sh
missing
ltmain.sh
